body {
  overflow-x: hidden;

  background-image: url(../images/backgrounds-2.png);
  background-size: cover;

  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  margin-bottom: 0;
}
iframe.video {
  margin-left: 30%;
  width: 480px;
  height: 300px;
  margin-bottom: 40px;
}
div.imageheader {
  max-width: 200px;
}

div.backimage {
  position: absolute;
  max-width: 20%;
}

div.afterimg {
  position: left;
  max-width: 20%;
  float: right;
}
div.header {
  color: rgba(116, 180, 240, 0.856);
  margin: 0 auto;
  display: flex;
  width: 400px;
  padding-top: 10%;
}

div.contacto {
  display: flex;
  flex-direction: column;
}
td.iconos img {
  width: 20px;
  display: flex;
}
tr.social_iconos img {
  width: 25px;
  margin: 19px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.rsocial img {
  width: 20px;
  float: left;
}
footer {
  max-width: 100%;
  margin-left: 10%;

  color: rgb(255, 255, 255);
}

div.start {
  padding-top: 5%;
  max-width: 600px;
  margin: 0 auto;
  color: rgb(188, 221, 252);
}

div.Contact__title h2 {
  font-size: 28px;
}
div.Contact__title h3 {
  font-size: 18px;
}
div.contact__form button,
div.Contact__form {
  padding-top: 5%;
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  font-family: sans-serif;
}
div.contact__form button,
div.Contact__form input,
div.Contact__form textarea {
  width: 100%;

  background-color: white;
  outline: none;

  padding: 10px;
  margin: 4px 0;

  border: 1px solid rgb(148, 148, 148);
  border-radius: 5px;

  padding: 20px 40px 5px;
}
div.Contact__form input:hover,
div.Contact__form textarea:hover,
div.Contact__form input:focus,
div.Contact__form textarea:focus {
  background-color: rgb(79, 173, 250);
}
button.buttonsubmit {
  margin-bottom: 30%;
}
.Links a:hover,
.Links a.selected {
  color: black;
  background: rgba(116, 180, 240);
}
.Links a.selected {
  background-color: "Gray";
}
.Links a:active {
  color: gray;
}

div.Links {
  width: 100%;
  margin: 0 auto;
  position: absolute;

  text-align: center;
}

.Links a {
  border: 1px solid rgba(116, 180, 240);
  border-radius: 2px;

  color: white;
  margin: 1px;
  font-size: 13px;
  font-family: sans-serif;
  text-decoration: none;
}

button.referral {
  border-radius: 10px;

  border: 1px solid rgba(116, 180, 240);
  background-color: rgba(116, 180, 240);
  font-size: 15px;

  padding: 20px 40px 20px;
  width: 20%;
  margin: 0 auto;

  display: flex;
}
.referral:hover,
.referral.selected {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

html .fade {
  animation: fade 2s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 5000px) {
  .pheader,
  div.rheader,
  div.pheader {
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px;
  }
  .Links a {
    padding: 20px;
    margin: 0 auto;
  }

  @media (max-width: 1500px) {
    .pheader,
    div.rheader,
    div.pheader,
    .Links a {
      color: white;
      margin: 0 auto;
      width: calc(100% - 40px);
      padding-top: 20px;
    }
  }

  @media (max-width: 900px) {
    div.start {
      width: 70%;
    }

    div.Links,
    .links a {
      margin: 0 auto;
      display: flex;
      width: calc(100%-40px);
    }
  }
}
